.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mq-editable-field .mq-root-block {
  vertical-align: super !important;
}

.mq-editable-field {
  border: unset !important;
  box-shadow: unset !important;
  font-size: 30px !important;
  width: 100% !important;
}

.MuiBox-root-5 {
  padding: 15px 5px 5px 5px !important;
}
.MuiAccordionSummary-root {
  margin: 0 !important;
  padding: 0 !important;
}

.MuiAccordionSummary-content {
  /*margin: 0 !important;*/
  min-width: 988px !important;
  max-width: 1010px !important;
  margin : 0 auto !important;
}

.MuiAccordionSummary-expandIcon {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
}

.MuiAccordionSummary-expandIcon.Mui-expanded {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-bottom: 12px !important;
}

.MuiAccordion-root.Mui-expanded {
  /*margin: 0 0 0 0 !important;*/
  padding: 0 10px !important;
  min-width: 988px !important;
  max-width: 1010px !important;
  margin : 0 auto !important;
}
.MuiAccordion-root{
  /*margin: 0 0 0 0 !important;*/
  padding: 0 10px !important;
  min-width: 988px !important;
  max-width: 1010px !important;
  margin : 0 auto !important;
}

.MuiAccordionSummary-root.Mui-expanded {
  min-height: unset !important;
}

.MuiAccordionDetails-root {
  padding: unset !important;
}

.MuiGrid-spacing-xs-1 {
  width: 100% !important;
  margin: unset !important;
}

.MuiTab-root {
  width: 16.7% !important;
  max-width: unset !important;
  min-width: unset !important;
}

.MuiToolbar-root{
  margin : 0 120px !important;
  /*min-width: 988px !important;
  max-width: 1010px !important;*/
}

.MuiList-padding {
  padding: 0 !important;
}

.MuiDialogContent-root .mq-math-mode .mq-binary-operator {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: fit-content !important;
  /*min-width: 988px !important;
  max-width: 1010px !important;*/
}

/*.AppBar{
  background-color: red;
}*/ 

.MuiList-root {
  padding: 0 10px !important;
  min-width: 988px !important;
  max-width: 1010px !important;
  margin : 0 auto !important;
 /* border-width: 2px !important; */
  border: double !important;

  border-color: #81ccaf !important;
  border-right: 10px !important;
  border-left: 10px !important;

  /*background: lightblue;
  background-clip: content-box;*/
}

.MuiListItem-container {
  position: relative;
  border-width: 10px;
  border-color: #282c34;
}

.MuiListItem-root {
  border-color: #E2E2E2;
  border-width: thick;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  /*background-color: #81ccaf !important;*/
  background-color: #1ac986 !important;
  opacity: 0.6;
}

.MuiAccordionSummary-content.Mui-expanded {
    /*color: #fff;
    background-color: #3f51b5;*/
    border-color: #2a3428;
    border-width: thick;
}

.MuiFormControl-fullWidth {
  width: 100% !important;
  padding: 0 0 20px !important;
}
/*
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary{
  width: 45% !important;
  margin: 0 5px !important;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded{
  width: 200px !important;
  padding: 0 30px 30px 30px !important;
}
*/
.MuiButton-startIcon {
  display: inherit !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}